{% load static %}
<!DOCTYPE html>
<html lang="ko">
<!-- <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
<meta http-equiv="X-UA-Compatible" content="ie=edge"> 
  <meta name="keywords" content="Medicine, online Medicine, Divine Medisure">
 </head> -->
 <body>
 <table style="width: 100%;">
    <tbody>
        <tr>
            <td style="border-color: rgb(0, 0, 255);">sadasd</td>
            <td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 1pt;border-top:solid #000000 1pt;vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"></td>>asdsad</td>
            <td>asdasd</td>
        </tr>
        <tr>
            <td>asdsad</td>
            <td style="border-color: rgb(109, 158, 235);">asdsad</td>
            <td>asdsad</td>
        </tr>
        <tr>
            <td>asdasd</td>
            <td>asdsad</td>
            <td>asdsad</td>
        </tr>
    </tbody>
</table>







</body>
</html>